/* hide in big divices only */
@media (min-width: 770px) {
  .hidden-bg {
    display: none;
  }
}

/* make the div block in small screen */
@media (max-width: 769px) {
  .navbar .nav-list-section {
    flex-basis: 100%;
    height: 0;
  }

  .navbar .nav-list-section .nav-list {
      display: block;
  }
}

/* visible in big divices only */
.visible-bg {
    display: none !important;
}
@media (min-width: 770px) {
  .visible-bg {
    display: flex !important;
  }
}
