@import "framework.css";
@import "responsive.css";
@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");

/* style the body */
body {
  font-family: "Merienda", cursive;
  font-size: var(--font-size);
  color: var(--font-color);
}

/* styling the navbar */
.navbar {
  background-color: var(--back-color);
  position: fixed;
  padding: 5px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 999;
}

/* make the layout */

.navbar .nav-list-section {
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
  transition: height 0.5s;
}

.navbar .nav-list-section.nav-list-section--opened {
  height: auto;
}

.navbar .nav-list-section--opened .nav-list {
  display: block;
  height: auto;
}

.navbar .nav-list,
.navbar .collapse-btn {
  margin-left: auto;
}

.navbar .nav-list {
  display: flex;
}

.navbar .nav-list .nav-list-item {
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.5);
}

/* style the logo */
.navbar .nav-logo {
  font-weight: normal;
  font-size: 1.25rem;
}

/* make the text in th middle of the image */
.nav-logo img {
  vertical-align: middle;
}

.navbar .nav-list .nav-list-item:hover a {
  color: rgba(0, 0, 0, 0.8);
}

/* change the style when the item is active */
.navbar .nav-list .nav-list-item.active {
  color: #000;
  background-color: var(--back-heavy);
}

/* style the collapse button */
.navbar .collapse-btn {
  background-color: transparent;
  margin-right: 20px;
  cursor: pointer;
  border: var(--border);
  border-radius: 5px;
  padding: 15px;
  color: var(--font-color);
  outline: 0;
}

/* ========================================================================================= */

/* style the header of the website */

#header .slide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: #fff;
}

#header .slide h2 {
  font-weight: normal;
  font-size: 5vw;
}

@media (max-width: 600px) {
  #header .slide h2 {
    font-size: 7vw;
  }
}

#header .slide1 {
  background-image: url("../assets/images/slider1.jpg");
}

#header .slide2 {
  background-image: url("../assets/images/slider2.jpg");
}

#header .slide3 {
  background-image: url("../assets/images/location.jpg");
}

/* style the slider */
.owl-carousel {
  position: relative;
}
/* style the navigator buttons */
.owl-carousel .owl-nav {
  width: 100%;
  font-size: 55px;
  position: absolute;
  top: 50%;
  color: #fff;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
  margin-left: 30px;
}

.owl-carousel .owl-nav button.owl-prev {
  float: left;
}

.owl-carousel .owl-nav button.owl-next {
  float: right;
}
/* style the navigator dots */
.owl-carousel .owl-dots {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.owl-carousel .owl-dots .owl-dot {
  background-color: rgba(225, 225, 225, 0.5);
  width: 30px;
  height: 3px;
  margin: 5px;
  outline: 0;
  padding: 20px;
}

.owl-carousel .owl-dots .owl-dot.active {
  background-color: rgba(225, 225, 225, 1);
}

/* ========================================================================================== */

/* style the about section */

#about .container {
  background-color: var(--back-color);
  padding: 10px;
}

#about .about-paragraph {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

@media (max-width: 779px) {
  #about .about-paragraph {
    flex-wrap: wrap;
  }
}

#about .about-paragraph img {
  /* display: inline-block; */
  max-width: 100%;
  height: auto;
}

#about .paragraph-image {
  padding: 10px;
}

/* ========================================================================================== */

/* style the menu section */
#menu .container {
  background-color: var(--back-color);
}

/* make the grid */
.menu-grid-item {
  border: var(--border);
}
@media (min-width: 768px) {
  .menu-grid-item {
    float: left;
    width: 31.333%;
  }
  .menu-grid-item:not(:last-of-type) {
    margin-right: 3%;
  }
}

.menu-grid-item img {
  width: 100%;
  height: 200px;
}

.menu-grid-item .item-content {
  padding: 20px;
  background-color: #fff;
}

.menu-grid-item:hover .item-content > * {
  transform: scale(1.1);
  transition: transform 0.4s;
}

.menu-grid-item .menu-list-item {
  padding: 20px;
  border-bottom: var(--border);
}

/* =================================================================================== */

/* style the reservation section */
#reserve .timetable {
  background-image: url("../assets/images/reserve.jpg");
  background-size: cover;
  padding: 20%;
  font-size: 20px;
}

#reserve .timetable-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reserve .timetable-grid .timetable-item {
  flex: 0 0 50%;
}

/* style the forms */
#reserve .res-forms {
  margin-top: 10px;
  padding: 20px;
  background-color: var(--back-color);
}

@media (min-width: 768px) {
  #reserve .res-forms .form-grid .item {
    float: left;
    width: 49%;
    margin-right: 1%;
  }
}

#reserve .res-forms .form-grid legend {
  font-weight: bold;
  font-size: 20px;
}

#reserve label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

#reserve label input {
  display: block;
  width: 100%;
  border: var(--border);
  padding: 7px;
  border-radius: 3px;
}

#reserve .details-part label input {
  padding: 10px;
}

#reserve button {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  width: 100%;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

#reserve button:hover {
  background-color: #5c6369;
}

@media (min-width: 768px) {
  #reserve button {
    width: 50%;
  }
}

/* ======================================================================= */

/* style the location section */
#location {
  
}


/* style footer */
footer .container {
  background-color: var(--back-color);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}