@import "framework.css";
@import "responsive.css";
@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");

/* style the body */
body {
  font-family: "Merienda", cursive;
  font-size: var(--font-size);
  color: var(--font-color);
}

/* styling the navbar */
.navbar {
  background-color: var(--back-color);
  position: fixed;
  padding: 5px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 999;
}

/* make the layout */

.navbar .nav-list-section {
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
  transition: height 0.5s;
}

.navbar .nav-list-section.nav-list-section--opened {
  height: auto;
}

.navbar .nav-list-section--opened .nav-list {
  display: block;
  height: auto;
}

.navbar .nav-list,
.navbar .collapse-btn {
  margin-left: auto;
}

.navbar .nav-list {
  display: flex;
}

.navbar .nav-list .nav-list-item {
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.5);
}

/* style the logo */
.navbar .nav-logo {
  font-weight: normal;
  font-size: 1.25rem;
}

/* make the text in th middle of the image */
.nav-logo img {
  vertical-align: middle;
}

.navbar .nav-list .nav-list-item:hover a {
  color: rgba(0, 0, 0, 0.8);
}

/* change the style when the item is active */
.navbar .nav-list .nav-list-item.active {
  color: #000;
  background-color: var(--back-heavy);
}

/* style the collapse button */
.navbar .collapse-btn {
  background-color: transparent;
  margin-right: 20px;
  cursor: pointer;
  border: var(--border);
  border-radius: 5px;
  padding: 15px;
  color: var(--font-color);
  outline: 0;
}

/* ========================================================================================= */

/* style the header of the website */

#header .slide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: #fff;
}

#header .slide h2 {
  font-weight: normal;
  font-size: 5vw;
}

@media (max-width: 600px) {
  #header .slide h2 {
    font-size: 7vw;
  } 
}

#header .slide1 {
  background-image: url('../assets/images/slider1.jpg');
}

#header .slide2 {
  background-image: url('../assets/images/slider2.jpg');
}

#header .slide3 {
  background-image: url('../assets/images/location.jpg');
}

/* style the slider */
.owl-carousel {
  position: relative;
}

.owl-carousel .owl-nav {
  width: 100%;
  font-size: 55px;
  position: absolute;
  top: 50%;
  color: #fff;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
  margin-left: 30px;
}

.owl-carousel .owl-nav button.owl-prev {
  float: left;
}

.owl-carousel .owl-nav button.owl-next {
  float: right;
}
